<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.desi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="아!맞다"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBy1I54HVyTDBwrHBH6XS01xPJUCeyexzk"/>


        <activity android:name=".SettingActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".WeatherActivity"/>
    </application>

</manifest>